<div id="edit-block"
    class="text-editor"
    role="textbox"
    onkeypress={{action "updateModel"}}
    contenteditable={{if timesUp "false" "true"}}
    >
  <p></p>
</div>
{{input type="hidden" value=yourText.textContent id="textEditor"}}

{{#if timesUp}}
  <div class="flex">
    <button {{action "copyToClipboard"}}>Copy Text</button>
  </div>
{{/if}}