<div id="edit-block"
    class="text-editor"
    onkeypress={{action 'updateModel'}}
    contenteditable={{if timesUp 'false' 'true'}}
    >
    <p></p>
</div>
{{textarea value=yourText.textContent id="textEditor" class="hidden"}}

{{#if timesUp}}
  <div class="flex">
    <button {{action "copyToClipboard"}}>Copy Text</button>
  </div>
{{/if}}