<div class="flex">
  <div class="w-1/4"></div>
  <div class="w-1/2">

    {{text-editor yourText=model.user timesUp=timesUp}}

    <p>{{timeRemaining}} seconds remaining</p>

    {{#if timesUp}}
      <h2>Times Up!</h2>
      <div class="flex">
        {{#each finalResults as |result|}}
          <div>
            {{#if result.textContent}}
              <p><strong>Your Score:</strong></p>
            {{/if}}
            <p>{{result.wordsPerMin}}/wpm</p>
            <p>{{result.wordCount}} words</p>
          </div>
        {{/each}}
      </div>
    {{/if}}

  </div>
  <div class="w-1/4"></div>
</div>