<div class="flex">
  <div class="w-1/4"></div>
  <div class="w-1/2">

    {{text-editor yourText=model timesUp=timesUp}}

    <p>{{timeRemaining}} seconds remaining</p>

    {{#if timesUp}}
      <h2>You're done!</h2>
      <p>{{model.wordsPerMin}}/wpm</p>
      <p>{{model.wordCount}} words</p>
    {{/if}}

  </div>
  <div class="w-1/4"></div>
</div>